NET "CLKin" LOC = V10;

NET "LED_out[7]" LOC = T11;
NET "LED_out[6]" LOC = R11;
NET "LED_out[5]" LOC = N11;
NET "LED_out[4]" LOC = M11;
NET "LED_out[3]" LOC = V15;
NET "LED_out[2]" LOC = U15;
NET "LED_out[1]" LOC = V16;
NET "LED_out[0]" LOC = U16;

NET "SWin[0]"  LOC = T10;
NET "SWin[1]"  LOC = T9;
NET "SWin[2]"  LOC = V9;
NET "SWin[3]"  LOC = M8;
NET "SWin[4]"  LOC = N8;
NET "SWin[5]"  LOC = U8;
NET "SWin[6]"  LOC = V8;
NET "SWin[7]"  LOC = T5;

NET "BTNin"  LOC = C4;
NET "BTN2in"  LOC = B8;

NET "REFRESH_out" LOC = M10;
NET "STEP_out"		LOC = N9;

NET "YCONTROL_out[0]" LOC = J3;
NET "YCONTROL_out[1]" LOC = J1;
NET "YCONTROL_out[2]" LOC = K3;
NET "YCONTROL_out[3]" LOC = K5;

NET "COLOR_out[5]" LOC = U11;
NET "COLOR_out[4]" LOC = V11;
NET "COLOR_out[3]" LOC = T12;
NET "COLOR_out[2]" LOC = V12;
NET "COLOR_out[1]" LOC = N10;
NET "COLOR_out[0]" LOC = P11;

NET "RXDin"	LOC = K1; #= N17;
NET "TXD_out" LOC = K2; #= N18;