//! **************************************************************************
// Written by: Map P.20131013 on Sun Apr 06 21:42:58 2014
//! **************************************************************************

SCHEMATIC START;
COMP "COLOR_out<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "COLOR_out<1>" LOCATE = SITE "N10" LEVEL 1;
COMP "COLOR_out<2>" LOCATE = SITE "V12" LEVEL 1;
COMP "COLOR_out<3>" LOCATE = SITE "T12" LEVEL 1;
COMP "COLOR_out<4>" LOCATE = SITE "V11" LEVEL 1;
COMP "COLOR_out<5>" LOCATE = SITE "U11" LEVEL 1;
COMP "TXD_out" LOCATE = SITE "K2" LEVEL 1;
COMP "STEP_out" LOCATE = SITE "N9" LEVEL 1;
COMP "SRAMADDR_out<10>" LOCATE = SITE "F18" LEVEL 1;
COMP "SRAMADDR_out<11>" LOCATE = SITE "F17" LEVEL 1;
COMP "SRAMADDR_out<12>" LOCATE = SITE "K13" LEVEL 1;
COMP "SRAMADDR_out<20>" LOCATE = SITE "G14" LEVEL 1;
COMP "SRAMADDR_out<13>" LOCATE = SITE "K12" LEVEL 1;
COMP "SRAMADDR_out<21>" LOCATE = SITE "F14" LEVEL 1;
COMP "SRAMADDR_out<14>" LOCATE = SITE "E18" LEVEL 1;
COMP "SRAMADDR_out<22>" LOCATE = SITE "C18" LEVEL 1;
COMP "SRAMADDR_out<15>" LOCATE = SITE "E16" LEVEL 1;
COMP "SRAMADDR_out<16>" LOCATE = SITE "G13" LEVEL 1;
COMP "SRAMADDR_out<17>" LOCATE = SITE "H12" LEVEL 1;
COMP "SRAMADDR_out<18>" LOCATE = SITE "D18" LEVEL 1;
COMP "SRAMADDR_out<19>" LOCATE = SITE "D17" LEVEL 1;
COMP "CLKin" LOCATE = SITE "V10" LEVEL 1;
COMP "RXDin" LOCATE = SITE "K1" LEVEL 1;
COMP "OE_out" LOCATE = SITE "L18" LEVEL 1;
COMP "WE_out" LOCATE = SITE "M16" LEVEL 1;
COMP "SRAMADDR_out<0>" LOCATE = SITE "K18" LEVEL 1;
COMP "SRAMADDR_out<1>" LOCATE = SITE "K17" LEVEL 1;
COMP "SRAMADDR_out<2>" LOCATE = SITE "J18" LEVEL 1;
COMP "SRAMADDR_out<3>" LOCATE = SITE "J16" LEVEL 1;
COMP "SRAMADDR_out<4>" LOCATE = SITE "G18" LEVEL 1;
COMP "SRAMADDR_out<5>" LOCATE = SITE "G16" LEVEL 1;
COMP "SRAMADDR_out<6>" LOCATE = SITE "H16" LEVEL 1;
COMP "SRAMADDR_out<7>" LOCATE = SITE "H15" LEVEL 1;
COMP "SRAMADDR_out<8>" LOCATE = SITE "H14" LEVEL 1;
COMP "SRAMADDR_out<9>" LOCATE = SITE "H13" LEVEL 1;
COMP "REFRESH_out" LOCATE = SITE "M10" LEVEL 1;
COMP "LED_out<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "LED_out<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "LED_out<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "LED_out<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "LED_out<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "LED_out<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "LED_out<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "LED_out<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "SRAMDATA_io<10>" LOCATE = SITE "P12" LEVEL 1;
COMP "SRAMDATA_io<11>" LOCATE = SITE "U13" LEVEL 1;
COMP "SRAMDATA_io<12>" LOCATE = SITE "V13" LEVEL 1;
COMP "SRAMDATA_io<13>" LOCATE = SITE "U10" LEVEL 1;
COMP "SRAMDATA_io<14>" LOCATE = SITE "R8" LEVEL 1;
COMP "CE1_out" LOCATE = SITE "L15" LEVEL 1;
COMP "SRAMDATA_io<0>" LOCATE = SITE "R13" LEVEL 1;
COMP "SRAMDATA_io<1>" LOCATE = SITE "T14" LEVEL 1;
COMP "SRAMDATA_io<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "SRAMDATA_io<3>" LOCATE = SITE "U5" LEVEL 1;
COMP "SRAMDATA_io<4>" LOCATE = SITE "V5" LEVEL 1;
COMP "SRAMDATA_io<5>" LOCATE = SITE "R3" LEVEL 1;
COMP "SRAMDATA_io<6>" LOCATE = SITE "T3" LEVEL 1;
COMP "SRAMDATA_io<7>" LOCATE = SITE "R5" LEVEL 1;
COMP "SRAMDATA_io<8>" LOCATE = SITE "N5" LEVEL 1;
COMP "SRAMDATA_io<9>" LOCATE = SITE "P6" LEVEL 1;
COMP "YCONTROL_out<0>" LOCATE = SITE "J3" LEVEL 1;
COMP "YCONTROL_out<1>" LOCATE = SITE "J1" LEVEL 1;
COMP "YCONTROL_out<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "YCONTROL_out<3>" LOCATE = SITE "K5" LEVEL 1;
COMP "LB1_out" LOCATE = SITE "K16" LEVEL 1;
COMP "UB1_out" LOCATE = SITE "K15" LEVEL 1;
SCHEMATIC END;

